[user]
	name = Alan
	email = alan@gangleri.net

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[http]
	sslVerify = true
	cookiefile = /Users/gangleri/.gitcookies
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/
[alias]
	aa = add -A
	al=alias
	alias = "!f() { git config --list | grep alias | sed -r 's/alias\\.(.+)=(.+)/\\1\\t\\t\\2/'; }; f"
	b = branch
	bclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs -r git branch -d; }; f"
	bl = branch -l
	bls = branch --list
	bs = "!f() { git  branch --all | grep --color=always -i $1; }; f"
	c = commit
	ca = commit -a 
	cam = commit -am
	numc = rev-list --all --count # number of commits
	cf = diff --name-only --diff-filter=U
	cl = clone
	cm = commit -m
	co = checkout
	co- = checkout -- .
	cob = checkout -b
	com = checkout main
	contains = !sh -c 'git branch -a --contains $1'
	cot = checkout --track
	d = diff
	i = init
	l = log -p
	mm = merge master
	mom = merge origin/master
	p = push
	pl = pull
	rH = reset --hard HEAD
	ra = remote add
	rao = remote add origin 
	s = status
	search = !sh -c 'git grep "$1" $(git rev-list --all)'
	st = stash
	t =  tag
	ta = tag  -a 
	puo = "!f(){ \
			git push -u origin $(git branch | grep \\* | cut -d ' ' -f2); \
		}; f"
	cmp = "!f(){ \
			git checkout master; git pull; \
		}; f"
	dn = "!f() { \
		var=($(git status | grep 'modified' | sed s/modified\\://g)); \
		git diff ${var[${1:-0}]};  \
		}; f"
	crb = "!f() { \
			echo 'Creating branch '$1; \
			git fetch --all; \
			git checkout -t "origin/${1}"; \
		}; f"
	ignore = "!gi() { curl -sL -o .gitignore https://www.toptal.com/developers/gitignore/api/$@ ;}; gi"
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = /Users/gangleri/.gitignore
	
[init]
	defaultBranch = main
[pull]
	rebase = false
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@github.com:goflink"]
	insteadOf = https://github.com/goflink
